.herobox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 128px 0;
  text-align: center;
}

.herobox__text-title {
  text-align: center;
}

.herobox__text-title--name {
  color: #5C62EC;
}

.herobox__button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 50px;
}

.herobox__button-left {
  margin-right: 24px;
}

.button__image--left {
  width: 20px;
  margin-right: 8px;
}

.button__image {
  margin-right: 10px;
}

@media (max-width: 650px) {
  .herobox__button-container {
    flex-direction: column;
  }

  .herobox__button-right,
  .herobox__button-left {
    width: 172px;
  }

  .herobox__button-left {
    margin-right: 0;
    margin-bottom: 16px;
  }
}
