.projects {
  margin-bottom: 64px;
  justify-content: center;
}


.container {
  padding-top: 64px;
  padding-bottom: 32px;
  padding: 24px;
  background-color: #5C62EC;
  border-radius: 8px;
  display: flex;
  width: 100%;
  justify-content: center;
  
}

.image {
  margin-top: 24px;
  width: 100%;

  &:first-of-type {
    margin-top: 0;
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonWrapper {
  width: 100%;
}


@media (min-width: 651px) {
  .projects {
    margin-bottom: 128px;
  }
  .buttonWrapper {
    width: 100%;
    max-width: 220px;
  }
}
