.about {
  display: flex;
  justify-content: center;
  margin-bottom: 128px;
}

.content {
  padding: 24px;
  background-color: #5C62EC;
  border-radius: 8px;
  display: flex;
  width: 100%;
  max-width: 970px;
}

.left {
  margin-right: 32px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text {
  line-height: 1.75;
  letter-spacing: 0.44px;
}

.buttonContainer {
  width: 200px;
}

@media (max-width: 850px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .left {
    margin-right: 0;
  }

  .right {
    margin-top: 24px;
  }
}

